@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=PT+Serif:wght@400;700&display=swap');

:root {
    /* Cyberpunk Neon Palette */
    --dark: #091833;
    --medium: #133e7c;
    --light: #0abdc6;

    --primary-accent: #ea00d9;
    --secondary-accent: #711c91;

    --default-border-radius: 25px;
    --primary-hue: 190;
    --default-angle: 65deg;
    background: linear-gradient(var(--default-angle), var(--medium), var(--dark) 200%);
}

:root * {
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
    letter-spacing: 1px;
}

.App {
    width: 100%;
    display: flex;
    flex-direction: column;
}

ul {
    padding: 0;
    list-style: none;
}

p {
    margin: 5px 0;
}

h1,
h2{
    color: white;
}

.title {
    font-size: 36px;
    text-align: center;
}

.label {
    padding-top: 50px;
    font-size: 24px;
    text-align: center;
}

.display-none {
    display: none;
}

.showSuggestions {
    display: block;
}

input {
    width: 250px;
    font-size: 24px;
}

.filters {
    display: grid;
    width: 50%;
    grid-template-columns: 50% auto;
    border: none;
    margin: 0 auto;
}

.suggestions {
    padding: 0;
    margin: .25em 0 0;
    color: white;
}

.suggestions li {
    padding: 0 0 .45em .25em;
    cursor: pointer;
}

.suggestions button {
    padding: .25em;
}

.CitySearch,
.numberOfEvents,
.EventList {
    display: flex;
    flex-direction: column;
}

.CitySearch,
.numberOfEvents {
    margin: 0 auto;
}


.event {
    padding: 10px 20px 50px;
    margin-bottom: 10px;
    text-align: left;
    background-color: var(--dark);
    color: #fff;
    border-radius: var(--default-border-radius);
    box-shadow: 3px 3px 15px var(--secondary-accent);
    position: relative;
}

.details-btn {
    position: absolute;
    right: 5px;
    bottom: 5px;
    padding: 5px 8px;
    border-radius: var(--default-border-radius);
    outline: none;
    cursor: pointer;
}

.Alert {
    margin-top: 0;
    padding: .25em 0 0;
}


@media only screen and (min-width: 992px) {
    .data-vis-wrapper {
        flex-direction: row;
    }

    .data-vis-wrapper .recharts-responsive-container {
        flex-basis: 50%;
        max-width: 50%;
        min-width: auto;
        margin: 0 auto;
    }
}